{% extends 'users/details.html' %}


{% block user_details %}
 
<div class="col-4">
    <h1 class="text-center my-2 font-monospace">edit your pug</h1>
    <div class="container p-3 shadow">
        <form method="POST">
        {{ form.hidden_tag() }}
    
        <div class="mb-3">
            {{form.title.label(class_="form-label")}}
            {% if form.title.errors %}
                    {% for error in form.title.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
            {{form.title(class_="form-control")}}
        </div>
        <div class="mb-3">
            {{form.description.label(class_="form-label")}}
            {% if form.description.errors %}
                    {% for error in form.description.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
            {{form.description(class_="form-control", rows=6)}}
        </div>
        <div class="mb-3">
            {{form.address.label(class_="form-label")}}
            {% if form.address.errors %}
                    {% for error in form.address.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
            {{form.address(class_="form-control")}}
        </div>
        <div class="row mb-3">
            <div class="col">
                {{form.city.label(class_="form-label")}}
                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
                {{form.city(class_="form-control")}}
            </div>
            <div class="col">
                {{form.state.label(class_="form-label")}}
                {% if form.state.errors %}
                    {% for error in form.state.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
                {{form.state(class_="form-control")}}
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col">
                {{form.date.label(class_="form-label")}}
                {% if form.date.errors %}
                    {% for error in form.date.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
                {{form.date(class_="form-control")}}
            </div>
            <div class="col">
                {{form.time.label(class_="form-label")}}
                {% if form.time.errors %}
                    {% for error in form.time.errors %}
                    <div class="form-text text-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
                {{form.time(class_="form-control")}}
            </div>
        </div>
        <p>To confirm changes, enter your password:</p>
    
        <div>
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <div class="form-text text-danger">
                    {{error}}
                </div>
                {% endfor %}
            {% endif %}
    
        </div>
        <div class="container d-flex justify-content-center">
            <button type="submit" class="my-3 btn btn-outline-primary">Update PUG!</button>
        </div>
        </form>

    </div>

</div>
<div class="col-3">
    <div class="container">
        <div class="row text-end mb-3">
            <div class="container ">
                <a href="/users/{{user.id}}" class="btn btn-outline-secondary">cancel</a>
                <form action="/games/{{game.id}}/delete" method="POST" class="d-inline">
                    <button class="delete-game btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this profile')">delete pug</button>
                </form>  

            </div>

        </div>
        <div class="row">
            <div class="container border border-1" style="height: 300px" id="map-container" data-lat="{{lat}}" data-lng="{{lng}}">
                <div id="map"></div>
            </div>
            <div class="my-3">
                {%if game.address%}
                <small>{{game.address}}</small>
                {% endif %}
                <small class="">{{game.city}}, {{game.state}}</small>
            </div>
        </div>
        <div class="row mb-3">
            <h3>Game Details</h3><hr>
            <small class="lead">{{game.title}}</small><br>
            <small>{{game.date.strftime('%B %d %Y')}}</small><br>
            <small>{{game.time}}</small><br>
            <small>Description:</small><br>
            <small>{{game.description}}</small><br>
        </div>
        <div class="row">
            <h3>Members</h3><hr>
            {% for user in game.users%}
            <a href="/users/{{user.id}}"><small class="text-capitalize">{{user.first_name}}, {{user.last_name}}</small></a><br>
            {% endfor %}
        </div>

    </div>

</div>

     



{% endblock %}