{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}


{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5 bg-dark text-white">
          <h2 class=" display-4 text-center my-2">Create your PUG.</h2>
          <form method="POST" id="user_form">
            {{ form.hidden_tag() }}
     
            <div class="mb-3">
                {{form.title.label(class_="form-label")}}
                {% if form.title.errors %}
                        {% for error in form.title.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {{form.title(class_="form-control")}}
            </div>
            <div class="mb-3">
                {{form.description.label(class_="form-label")}}
                {% if form.description.errors %}
                        {% for error in form.description.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {{form.description(class_="form-control")}}
            </div>
            <div class="mb-3">
                {{form.address.label(class_="form-label")}}
                {% if form.address.errors %}
                        {% for error in form.address.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {{form.address(class_="form-control")}}
            </div>
            <div class="row mb-3">
                <div class="col">
                    {{form.city.label(class_="form-label")}}
                    {% if form.city.errors %}
                        {% for error in form.city.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {{form.city(class_="form-control")}}
                </div>
                <div class="col">
                    {{form.state.label(class_="form-label")}}
                    {% if form.state.errors %}
                        {% for error in form.state.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {{form.state(class_="form-control")}}
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col">
                    {{form.date.label(class_="form-label")}}
                    {% if form.date.errors %}
                        {% for error in form.date.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {{form.date(class_="form-control")}}
                </div>
                <div class="col">
                    {{form.time.label(class_="form-label")}}
                    {% if form.time.errors %}
                        {% for error in form.time.errors %}
                        <div class="form-text text-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {{form.time(class_="form-control")}}
                </div>
            </div>
            <button type="submit" class="my-3 btn btn-primary btn-lg btn-block">Create PUG!</button>
          </form>
        </div>
      </div>



{% endblock %}