{% extends 'base.html' %}

{% block body_class %}main-site{% endblock %}

{% block content %}

<div id="profile-header" class="full-width"></div>
<img src="/static/profile_pics/{{user.image_file}}" alt="Image for {{ user.username }}" id="profile-avatar" class="mx-5">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">PUGS Created</p>
            <h4>
              <a href="/users/{{ user.id }}/games">{{ user.games_created | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">PUGS Joined</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.games | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          <div class="ml-auto">
            {% if g.user.id == user.id %}
            <a href="/users/edit_profile" class="btn btn-outline-secondary mx-3">Edit Profile</a>
            <form method="POST" action="/users/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
            {% elif g.user %}
            {% if g.user.is_following(user) %}
            <form method="POST" action="/users/stop-following/{{ user.id }}">
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ user.id }}">
              <button class="btn btn-outline-primary">Follow</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div> 
  </div>
</div>
<div class="row">
  <div class="col-3">
      <div class="container">
        <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">@{{ user.username }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{user.get_fullname()}}</h6>
              <p class="card-text"><span class="fa fa-map-marker"> </span> {{user.city}}, {{user.state}}</p>
            </div>
          </div>
      </div>
  </div>
  {% block user_details %}
  {% endblock %}


{% endblock %}