{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5 bg-dark text-white">
      <h2 class="display-4 text-center my-2">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
        <div class="mb-1">
            {{ field.label(class_='form-label')}}
            {{ field(class_="form-control") }}
        </div>
            {% for error in field.errors %}
            <div class="form-text text-danger">
                {{error}}
            </div>
          {% endfor %}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>

        <div>
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <div class="form-text text-danger">
                    {{error}}
                </div>
                {% endfor %}
            {% endif %}

        </div>
        

        <div class="edit-btn-area my-3 d-flex justify-content-around">
          <button class="btn btn-success">Update User Details</button>
          <a href="/users/profile_pic" class="btn btn-secondary">Update Profile Picture</a>
          <a href="/users/{{ user.id }}" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}