{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-9">
    <div class="row">

      {% for followed_user in user.following %}

      <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
            <img src="/static/profile_pics/{{user.image_file}}" alt="user_profile_pic" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><a href="/users/{{user.id}}">@{{user.username}}</a></h3>
                <p class="card-text fw-light fst-italics">{{user.city}}, {{user.state}}</p>
                <p class="card-text lead">PUGS: {{user.games}}</p>
              <div class="card-footer">
              {% if g.user %}
                {% if g.user.is_following(user) %}
                  <form method="POST"
                        action="/users/stop-following/{{ user.id }}">
                    <button class="btn btn-primary btn-sm">Unfollow</button>
                  </form>
                {% else %}
                  <form method="POST"
                        action="/users/follow/{{ user.id }}">
                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                  </form>
                {% endif %}
              {% endif %}
              </div>
            </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
{% endblock %}