{% extends 'users/details.html' %}
{% block user_details %}

  <div class="col">
    <div class="container">
          <div class="container">
            <h1 class="text-end font-monospace pe-3">following</h1><hr>
          </div> 
      <div class="container">
        <div class="row">
          <div class="container border border-1">
            <h5>Needs search bar</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="list-group list-group-flush">
          {% for following in user.following%}
            <a href="/users/{{following.id}}" class="list-group-item list-group-item-action position relative">
              <img src="/static/profile_pics/{{following.image_file}}" alt="" class="position-absolute top-50 end-0 translate-middle-y translate-middle rounded-circle shadow" height="75px" width="75px">
              <p>{{following.username}}</h5><br>
              <small>{{following.first_name}}, {{following.last_name}}</small><br>
              <p class="text-muted"><span class="fa fa-map-marker"></span> {{following.city}}, {{following.state}}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}